<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Page</title>
  <link rel="stylesheet" href="loginFrameCSS.css" />
</head>
<body>
    <div class="left-shape"></div>
  <div class="container">
    <div class="login-box">
      <h2>login</h2>
      <form>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <a href="#" class="forgot">Forgot your password?</a>
        <button type="submit">login</button>
        <button type="button" class="signup">SignUp</button>
      </form>
    </div>
    <div class="right-shape"></div>
  </div>
</body>
</html>
